body, p, ol li {
    font: 14px "Century Gothic", Futura, sans-serif;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-weight: 400;
    margin-left: 0px;
    margin-right: 0px;
}

.code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    font-size: 16px;
}

.black-code {
    color: white;
    background-color: black;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.menu-lateral {
    background-color: #2b2c2f;
    min-height: 100vh;
}

.menu-lateral .nav-link {
    color: white;
    font-family: 'Montserrat'
}

.menu-lateral .nav-link:hover {
    font-weight: 800;
}

.cuerpo {
    background-color: #f7f7f7;
    min-height: 100vh;
}

.menu-lateral .titulo-menu {
    margin-top: 10px;
    color: white;
    text-align: center;
}

.contenido-cuerpo {
    padding: 20px 30px;
}

.contenido-cuerpo .titulo-contenido-cuerpo {
    text-align: center;
    margin-bottom: 20px;
}
